.kid-container {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    margin: auto;
}

.kid-details {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.kid-details h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.kid-details p {
    color: #555;
    margin-bottom: 10px;
}

.day-list {
    list-style-type: none;
    padding: 0;
}

.day-list li {
    background-color: #e6e6e6;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

.info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.info-item {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.info-item strong {
    display: inline-block;
    min-width: 100px;
}

/* For mobile screens */
@media (max-width: 768px) {
    .info-grid {
        grid-template-columns: 1fr;
    }
}

.kid-details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: left;
  }
  
  .kid-details th {
    background-color: #e6f7ff; /* Soft blue background */
    color: #333; /* Text color */
    padding: 12px 15px;
  }
  
  .kid-details td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
  }
  
  .kid-details tr:hover {
    background-color: #f5f5f5;
  }
  
  .return-link {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #e6f7ff; /* Soft blue background */
    color: #333; /* Text color */
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    position: absolute;
  }
  
  .return-link p {
    margin: 0;
    font-size: 16px;
  }
  
  .return-link:hover {
    background-color: #d4eaf6;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .return-link {
      display: block;
      text-align: center;
      position: unset;
    }
  }

  @media (max-width: 480px) {
    .switch-price{
      margin-top: 1em !important;
    }
    .set-paid{
      margin-top: 1em;
    }
  }


 button {
    padding: 10px 20px;
    background-color: #0077cc;
    color: #fff;
    border: none;
    border-radius: 5px;
  
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
button:hover {
    background-color: #2c80bd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .set-paid{
    margin-right: 1.2em;
  }

  .switch-price{
    margin-top: 0.6em;
  }
  
  .info-item.not-paid{
    background: #f98383;
  }
  .info-item.paid{
    background: #5bd287;
  }

  /* Add a container element for the table */
.table-container {
  overflow-x: auto;
}

/* Style the table */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  text-align: left;
  padding: 8px;
}

/* Add media query for smaller screens */
@media screen and (max-width: 600px) {
  th, td {
    /* Optional: You can set the font size smaller for mobile */
    font-size: 12px;
  }
}