:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
 
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/*** HEADER***/

.header-title{
  margin: 0;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgb(40 102 136);
  height: 55px;
  position: sticky;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 1;
}

/****LOGIN****/
.login-container{
  max-width: 800px;
  margin: auto;
}
.login-container .form{
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin: 1em;
}

/****REGISTER****/
.register-container{
  max-width: 800px;
  margin: auto;
}
.register-container .form{
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin: 1em;
}